.spoiled {
  background-color: #ccc;
}

.fresh {
  border: 1px dotted green;
}

ul li,
.glyph {
  padding: 3px 0 3px 25px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: middle left;
}

.glyph-cherry {
  background-image: url('http://cdn.flaticon.com/png/64/2146.png');
}

.glyph-apple {
  background-image: url('http://cdn.flaticon.com/png/64/18251.png');
}

.glyph-pear {
  background-image: url('http://cdn.flaticon.com/png/64/2158.png');
}

.glyph-grapes {
  background-image: url('http://cdn.flaticon.com/png/64/18353.png');
}
